@font-face {
    font-family: 'modernM';
    src: local('modernM'), url(./Fonts/modernM.ttf) format('truetype');
  }

.header{
    font-family: modernM;
    background: #000000;
    color: #fbf8e8;
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: right;
    
}

.header li{
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    
}



.header a {
    text-decoration: none;
    color: white;
}